@model PlentyData.Models.Entidade

@{
    ViewData["Title"] = "Cadastrar";
}

<h3>Cliente</h3>
<h6>Cadastrar</h6>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeRazaoSocial" class="control-label"></label>
                <input asp-for="NomeRazaoSocial" class="form-control" />
                <span asp-validation-for="NomeRazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFantasia" class="control-label"></label>
                <input asp-for="NomeFantasia" class="form-control" />
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CNPJCPF" class="control-label"></label>
                <input asp-for="CNPJCPF" class="form-control" />
                <span asp-validation-for="CNPJCPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identidade" class="control-label"></label>
                <input asp-for="Identidade" class="form-control" />
                <span asp-validation-for="Identidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscricaoEstadual" class="control-label"></label>
                <input asp-for="InscricaoEstadual" class="form-control" />
                <span asp-validation-for="InscricaoEstadual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscricaoMunicipal" class="control-label"></label>
                <input asp-for="InscricaoMunicipal" class="form-control" />
                <span asp-validation-for="InscricaoMunicipal" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
