@model PlentyData.Models.Unidade

@{
    ViewData["Title"] = "Lista de Valores";
}

<h3>@ViewData["Title"]</h3>
<h1></h1>
<h6>Novo Cadastro</h6>
<hr></hr>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <h1></h1>
            <hr></her>
            <h1></h1>
            <div class="form-check form-switch">
                <input asp-for="Ativo" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                <label asp-for="Ativo" class="form-check-label" for="flexSwitchCheckChecked"></label>
            </div>
            <div class="form-group">
                <h1></h1>
                <input type="submit" value="Salvar" class="btn btn-info btn-sm" />
                <bottom><a asp-action="Index" class="btn btn-outline-light btn-sm">Voltar</a></bottom>
            </div>
        </form>
    </div>
</div>
